%table.table.table-condensed.table-striped.table-bordered
  %tr
    %th Name
    %th Category
    %th Reviews
  - @restaurants.each do |restaurant|
    %tr
      %td= restaurant.name
      %td= restaurant.category.name
      %td
        %strong
          %p Give Us Your Review about the Restaurant
        -# %button.btn.btn-success{:type => "button"} Write Reviews

        .container.row.col-md-4
          .row
          .col-md-6
        %hr/
        - restaurant.reviews.each do |review|
          .row
            .col-md-6
              %p= review.description
            .col-md-6.text-warning
              - (0...review.star.to_i).each do |s|
                %i.fa.fa-star
        %hr/
        .row.pt-3
          .col-md-12
            %a{ href: new_restaurant_review_path(restaurant) } New Review
      .col-md-8.my-5.py-5

%a{ href: categories_path } view categories
