%table.table.table-condensed.table-striped.table-bordered
  %tr
    %th Name
    %th Created at
    %th Show
  - @restaurants.each do |restaurant|
    %tr
      %td= restaurant.name
      %td= restaurant.created_at
      %td= link_to 'Edit', edit_restaurant_path(restaurant)
