= form_for @category, html: { class: 'form form-horizontal' } do |f|
  .form-group
    = f.label :name, 'Name', class: 'control-label col-xs-2'
    .col-xs-10
      = f.text_field :name, class: 'form-control'

  .form-group
    .col-xs-12
      = f.submit class: 'btn btn-default pull-left'

      </br>
      </br>
      -# %a{ href: restaurants_path} View Restaurants for each Category
