%table.table.table-condensed.table-striped.table-bordered
  %tr
    %th Name
    %th Created at
    %th Show
  - @categories.each do |category|
    %tr
      %td= category.name
      %td= category.created_at
      %td= link_to 'Edit', edit_category_path(category)
%a{ href: restaurants_path} View Restaurants for each Category

