= form_for [@restaurant, @review], html: { class: 'from form-horizontal'} do |f|
  .form-group
    = f.label :description, 'Description', class: 'control-label col-xs-2'
    .col-xs-10
      =f.text_field :description, class: 'form-control'


  .form-group
    .col-xs-12
      = f.submit class: 'btn btn-default pull-right'
      .form-group
        .col-xs-14
          = f.label :star, 'Give it a star', class: 'control-label col-xs-2'
          = f.select :star, ['1', '2','3', '4']
          </br>
          </br>
          </br>
          %a{ href: new_restaurant_review_path(@restaurant) } Write Another Review
          </br>
          %a{ href: restaurants_path} view restaurants
