!!!
%html
  %head
    %title Blog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", :integrity => "sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1", :rel => "stylesheet"}/

%body
  - if current_user.present?
    %a{ href: destroy_user_session_path, method: :delete } logout
  - else
    = link_to 'login', new_user_session_path

-# <ul class="hmenu">
-#   <%= render 'devise/menu/registration_items' %>
-#     <%= render 'devise/menu/login_items' %>
-#     </ul>
-#     <%= yield %>
-#
-#     ul.hmenu {
-#       list-style: none;none
-#         margin: 0 0 2em;
-#           padding: 0;
-#           }
-#
-#           ul.hmenu li {
-#             display: inline;
-#             }
-#


 
  
  .container
    = yield
.container
  = yield
